{% extends 'base/base.html' %}
{% block main_content %}

    <h1>You are: {{ request.user }}</h1>
    <div>
        <form action="{% url 'index' %}" method="get">
            {{ form }}
            <button>Search</button>
            {% csrf_token %}
        </form>
    </div>
    <div>
    {% for ticker in search_result %}
        <p>{{ ticker.pk }}) {{ ticker.symbol }} | <a href="{% url 'position_create' symbol=ticker.symbol %}">create position</a></p>
    {% endfor %}
    </div>
{% endblock %}