<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div id="portfolio-container" class="portfolio accordion">
    <div class="portfolio-header">
        <div class="portfolio-cell">Ticker</div>
        <div class="portfolio-cell">shares count</div>
        <div class="portfolio-cell">price per share</div>
        <div class="portfolio-cell">total invested</div>
        <div class="portfolio-cell">current price</div>
        <div class="portfolio-cell">change</div>
        <div class="portfolio-cell">gain / loss</div>
        <div class="portfolio-cell"></div>
    </div>

    <div class="portfolio-row accordion-toggle">
        <div class="portfolio-cell">PLTR</div>
        <div class="portfolio-cell">357</div>
        <div class="portfolio-cell">15.96</div>
        <div class="portfolio-cell">5696.11</div>
        <div class="portfolio-cell">17.58</div>
        <div class="portfolio-cell green">0.36</div>
        <div class="portfolio-cell">10.12%</div>
        <div class="portfolio-cell"><a href="/position/22/add/">Buy</a> / <a href="/position/22/sell/">Sell</a></div>
    </div>
    <div class="accordion-content" style="display: none;">
        <div class="portfolio-row">
            <div class="portfolio-cell">2023-08-23</div>
            <div class="portfolio-cell">buy 100</div>
            <div class="portfolio-cell">16.5</div>
        </div>
        <div class="portfolio-row">
            <div class="portfolio-cell">2023-08-23</div>
            <div class="portfolio-cell">buy 30</div>
            <div class="portfolio-cell">19</div>
        </div>
        <div class="portfolio-row">
            <div class="portfolio-cell">2023-08-23</div>
            <div class="portfolio-cell">buy 70</div>
            <div class="portfolio-cell">17</div>
        </div>
        <div class="portfolio-row">
            <div class="portfolio-cell">2023-08-23</div>
            <div class="portfolio-cell">buy 70</div>
            <div class="portfolio-cell">15.27</div>
        </div>
        <div class="portfolio-row">
            <div class="portfolio-cell">2023-08-23</div>
            <div class="portfolio-cell">buy 0.5</div>
            <div class="portfolio-cell">15</div>
        </div>
        <div class="portfolio-row">
            <div class="portfolio-cell">2023-08-23</div>
            <div class="portfolio-cell">sell -0.5</div>
            <div class="portfolio-cell">15</div>
        </div>
        <div class="portfolio-row">
            <div class="portfolio-cell">2023-08-23</div>
            <div class="portfolio-cell">buy 87</div>
            <div class="portfolio-cell">14</div>
        </div>
    </div>
    <div class="portfolio-row accordion-toggle">
        <div class="portfolio-cell">NIO</div>
        <div class="portfolio-cell">55</div>
        <div class="portfolio-cell">12.55</div>
        <div class="portfolio-cell">690.50</div>
        <div class="portfolio-cell">7.43</div>
        <div class="portfolio-cell red">-0.06</div>
        <div class="portfolio-cell">-40.78%</div>
        <div class="portfolio-cell"><a href="/position/23/add/">Buy</a> / <a href="/position/23/sell/">Sell</a></div>
    </div>
    <div class="accordion-content">
        <div class="portfolio-row">
            <div class="portfolio-cell">2023-08-23</div>
            <div class="portfolio-cell">buy 15</div>
            <div class="portfolio-cell">6.48</div>
        </div>
        <div class="portfolio-row">
            <div class="portfolio-cell">2023-08-23</div>
            <div class="portfolio-cell">buy 15</div>
            <div class="portfolio-cell">6.22</div>
        </div>
        <div class="portfolio-row">
            <div class="portfolio-cell">2023-08-23</div>
            <div class="portfolio-cell">buy 25</div>
            <div class="portfolio-cell">20</div>
        </div>
    </div>
    <div class="portfolio-row">
        <div class="portfolio-cell">PINS</div>
        <div class="portfolio-cell">11</div>
        <div class="portfolio-cell">40.47</div>
        <div class="portfolio-cell">445.13</div>
        <div class="portfolio-cell">34.70</div>
        <div class="portfolio-cell green">0.68</div>
        <div class="portfolio-cell">-14.23%</div>
        <div class="portfolio-cell"><a href="/position/24/add/">Buy</a> / <a href="/position/24/sell/">Sell</a></div>
    </div>
    <div class="portfolio-row accordion-toggle">
        <div class="portfolio-cell">VET</div>
        <div class="portfolio-cell">22</div>
        <div class="portfolio-cell">20.48</div>
        <div class="portfolio-cell">450.54</div>
        <div class="portfolio-cell">11.27</div>
        <div class="portfolio-cell green">0.13</div>
        <div class="portfolio-cell">-44.89%</div>
        <div class="portfolio-cell"><a href="/position/25/add/">Buy</a> / <a href="/position/25/sell/">Sell</a></div>
    </div>
    <div class="accordion-content">
        <div class="portfolio-row">
            <div class="portfolio-cell">2023-08-23</div>
            <div class="portfolio-cell">buy 22</div>
            <div class="portfolio-cell">22.915</div>
        </div>
        <div class="portfolio-row">
            <div class="portfolio-cell">2023-08-23</div>
            <div class="portfolio-cell">buy 1</div>
            <div class="portfolio-cell">15</div>
        </div>
        <div class="portfolio-row">
            <div class="portfolio-cell">2023-08-23</div>
            <div class="portfolio-cell">sell -1</div>
            <div class="portfolio-cell">15</div>
        </div>
        <div class="portfolio-row">
            <div class="portfolio-cell">2023-08-23</div>
            <div class="portfolio-cell">buy 1</div>
            <div class="portfolio-cell">8.84</div>
        </div>
        <div class="portfolio-row">
            <div class="portfolio-cell">2023-08-23</div>
            <div class="portfolio-cell">sell -1</div>
            <div class="portfolio-cell">40</div>
        </div>
        <div class="portfolio-row">
            <div class="portfolio-cell">2023-08-23</div>
            <div class="portfolio-cell">buy 1</div>
            <div class="portfolio-cell">10</div>
        </div>
        <div class="portfolio-row">
            <div class="portfolio-cell">2023-08-23</div>
            <div class="portfolio-cell">sell -1</div>
            <div class="portfolio-cell">50</div>
        </div>
        <div class="portfolio-row">
            <div class="portfolio-cell">2023-08-23</div>
            <div class="portfolio-cell">buy 1</div>
            <div class="portfolio-cell">10</div>
        </div>
        <div class="portfolio-row">
            <div class="portfolio-cell">2023-08-23</div>
            <div class="portfolio-cell">sell -1</div>
            <div class="portfolio-cell">60</div>
        </div>
        <div class="portfolio-row">
            <div class="portfolio-cell">2023-08-23</div>
            <div class="portfolio-cell">buy 1</div>
            <div class="portfolio-cell">10</div>
        </div>
        <div class="portfolio-row">
            <div class="portfolio-cell">2023-08-23</div>
            <div class="portfolio-cell">sell -1</div>
            <div class="portfolio-cell">70</div>
        </div>
    </div>
    <div class="portfolio-row">
        <div class="portfolio-cell">Cash:</div>
        <div class="portfolio-cell"></div>
        <div class="portfolio-cell"></div>
        <div class="portfolio-cell"></div>
        <div class="portfolio-cell"></div>
        <div class="portfolio-cell">2.00</div>
    </div>
</div>
</body>
</html>